a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
.inputBtn {
  border: none;
  background-color: var(--layout-color2);
  padding: 7px 10px;
  margin-left: 10px;
  color: var(--main-font-color);
}
